::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    fill: linear-gradient(180deg, #8C0083 0%, #890485 5.04%, #860887 10.19%, #820E89 15.46%, #7E148C 20.9%, #791A90 26.54%, #732393 32.39%, #6C2C98 38.5%, #64379D 44.88%, #5B44A3 51.58%, #5053AB 58.63%, #4464B3 66.04%, #3677BC 73.85%, #268DC6 82.1%, #14A6D2 90.8%, #00C7E6 100%);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00C7E6;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #000;
    flex-wrap: nowrap;
}
.header_mainpart, nav, .header_search, .header_links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav{
    width: 100%;
}
.header_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    margin-left: 50px;
}
.header_search{
    border-bottom: 1px solid #00C7E6;
    display: flex;
    margin-left: 50px;
    flex-direction: row;
}
.header_search input{
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 18px;
}
.header_search input:focus{
    outline: none;
}
.header_links a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.header_links a p{
    margin: 0;
}
.autorisation_button{
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #00C7E6;
    border-radius: 5px;
    width: 188px;
    height: 46px;
    cursor: pointer;
    transition: 0.2s;
}
.autorisation_button:hover{
    color: #fff;
    border-top-left-radius: 50px;
}