.main_sec{
    background-image: url(/public/images/Loki_pic.png);
}
header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 15px;
}
.main_page{
    background-image: url(/images/Loki_pic.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_links{
    display: flex;
    column-gap: 50px;
}
.def_link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
/* .def_link:hover{
    color: #fff;
} */
.auth_button{
  background-color: #E70D0D;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  transition: 0.2s;
  font-weight: 600;
}
.auth_button:hover{
    color: #fff;
    font-size: 21px;
    width: 105px;
    height: 55px;
}
.text_link{
    margin: 0;
}
.header_input input{
    border: 0px;
    border-bottom: 2px solid #E70D0D;
    background-color: transparent;
    caret-color: #fff;
    color: #fff;
}
input:focus{
    outline: none;
}
.input_img{
    transform: translateX(-20px);
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
footer{
    background-color: #151515;
}
.footer_column1, .footer_column2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer_link{
    color: #fff;
    text-decoration: none;
}
.film_name{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
.desc{
    color: #fff;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.desc a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.popular_sec{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}
.catalog_page{
    height: 90vh;
    background-color: #151515;
    display: flex;
    flex-direction: row;
}
.filter{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 85%;
}
.filters{
    width: 90%;
    height: 100%;
    border: 1px solid #E70D0D;
    border-radius: 20px;
}